// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
html,
body {
  font-family: "Lexend Deca", sans-serif;
}

#app {
  font-family: "Lexend Deca", sans-serif;
}

a {
  color: $primary;
  text-decoration: dotted;
}

a:hover {
  color: lighten($primary, 70%);
}
